@model Location
@{
    ViewData["Title"] = "Retourner une voiture";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Traitement du retour</h4>
        <form asp-action="FinaliserTraitement" method="post" class="m-2">
            <div class="form-group">
                <div class="form-group">
                    <label>Date de la location : @ViewBag.DateDeLocation</label>
                </div>
                <div class="form-group">
                    <label>Nombre de jour qui avait été loué : @ViewBag.NbJourRetour</label>
                </div>
                <div class="form-group">
                    <label>Succursale de retour prévue : @ViewBag.SuccursalePrevu</label>
                </div>
                <div class="form-group">
                    <label>Numéro du permis client : @ViewBag.NumPermis</label>
                </div>
                <div class="form-group">
                    <label>Nom client : @ViewBag.NomClient</label>
                </div>
                <div class="form-group">
                    <label>Prénom client : @ViewBag.PrénomClient</label>
                </div>
                <div class="form-group">
                    <label>Numéro de téléphone client : @ViewBag.TelClient</label>
                </div>
                @if (ViewBag.AvertissementDate)
                {
                    <div class="form-group">
                        <p class="text-danger"> La voiture n'a pas été retourné à la bonne date</p>
                    </div>
                }
                @if (ViewBag.AvertissementSuccursale)
                {
                    <div class="form-group">
                        <p class="text-danger"> La voiture n'a pas été à la même succursale prévue</p>
                    </div>
                }
            </div>
            <div>
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>
            </div>
            <div>
                <button class="nav-link text-dark" asp-area="" asp-controller="TraitementRetourController" asp-action="FinaliserTraitement"><i class="fa fa-car"></i>Déclarer accident</button>
            </div>
        </form>
    </div>
</div>