<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/body.css" rel="stylesheet" />
    <link href="~/css/p.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white " asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                <div class="navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @if (!DépôtEF.UtilisateurConnecté)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Utilisateur" asp-action="Authentification"><i class="fa fa-user"></i> AUTHENTIFICATION</a>
                            </li>
                        }
                        @if (DépôtEF.UtilisateurConnecté)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Utilisateur" asp-action="AjouterUtilisateur"><i class="fa fa-user-plus"></i> AJOUTER UN UTILISATEUR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Succursale" asp-action="AjouterSuccursale"><i class="fa fa-building"></i> AJOUTER UNE SUCCURSALE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Voiture" asp-action="AjouterVoiture"><i class="fa fa-car"></i> AJOUTER UNE VOITURE</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pb-5">
        <main role="main">
            @if (DépôtEF.UtilisateurConnecté)
            {
                <h2>@ViewBag.User</h2>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center fixed-bottom pt-3">

        <div >
            @if (DépôtEF.UtilisateurConnecté)
        {
            <p>
                @ViewBag.Noms
                <a asp-controller="Utilisateur" asp-action="Logout"
                   class="btn btn-danger float-right text-center pt-0 pb-0 border-top-0 border-bottom-0">Logout</a>
            </p>
        }
        else
        {
            <p>@ViewBag.Noms</p>
        }
        </div>
    </footer>
</body>
</html>
