@model LocationVoitureModèle
@{
    ViewData["Title"] = "Louer une voiture";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Début d'une location</h4>
        <form asp-action="VoituresDispo" method="post" class="m-2">
            <div class="form-group">
            <label>Code de la Succursale : <span class="font-weight-bold">@ViewBag.CodeSuccursale</span></label>
        </div>
        <div class="form-group">
            <label>Modèle : <span class="font-weight-bold">@ViewBag.Modèle</span></label>
        </div>

            <div class="form-group">
                <label asp-for="NombreJoursLocation">Nombre de jours avant le retour : </label>
                <input type="number" asp-for="NombreJoursLocation" class="form-control" />
                <div><span asp-validation-for="NombreJoursLocation" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="NuméroVoiture">NuméroVoiture :</label>
                <select asp-for="NuméroVoiture" class="form-control">
                    @foreach (var num in ViewBag.ListeNumeroVoitures)
                    {
                        <option value="@num">@num</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Code de la Succursale de retour :</label>
                <select asp-for="CodeSuccursaleRetour" class="form-control">
                    @foreach (Succursale succ in ViewBag.ListeSuccursales)
                    {
                        <option value="@succ.CodeSuccursale">@succ.CodeSuccursale</option>
                    }
                </select>
                <div><span asp-validation-for="CodeSuccursale" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="NuméroPermisConduire">Numéro de permis du client : </label>
                <input asp-for="NuméroPermisConduire" class="form-control" />
                <div><span asp-validation-for="NuméroPermisConduire" class="text-danger"></span></div>
            </div>
            <button type="submit" class="btn btn-primary">Suivant</button>
        </form>
    </div>
</div>

